@import '@/assets/css/layout/sidebar.scss';
@import '@/assets/css/layout/topbar.scss';

@import '@/assets/css/inbox/main.scss';

// .p-button:focus {
//     box-shadow: none;
// }

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .customize.layout-wrapper {
        &.layout-static.layout-static-inactive {
            .layout-main-container {
                margin-left: 130px;
            }
            .layout-topbar {
                left: 130px;
                width: calc(100% - 130px);
            }
        }

        .layout-main-container {
            padding: 118px 24px 24px 24px;
            margin-left: 240px;
        }
    }
}
