.customize {
    .layout-sidebar {
        left: 0;
        width: 240px;
        height: 100vh;
        border-radius: 0%;
        top: 0rem;
        display: flex;
        flex-direction: column;
        gap: 34px;
        background: #f8f9fa;
        padding: 35px 20px 12px;
        box-shadow: -1px 0px 0px 0px #dee2e6 inset;

        .sidebar-logo {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0px 15px;

            h6 {
                margin: 0%;
                color: #545eb2;
                font-size: 15px;
                font-weight: 400;
                b {
                    color: #36418b;
                    font-weight: 500;
                }
            }
        }

        .layout-menu {
            ul {
                ul li a {
                    margin-left: 20px;
                }
                li {
                    a {
                        border: none;
                        padding: 15.5px 15px;
                        gap: 16px;
                        margin: 2px 0px;

                        span {
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                        }

                        &:hover {
                            background-color: #dcf1ec;
                        }
                        &:focus {
                            box-shadow: none;
                        }

                        .layout-menuitem-icon {
                            margin-right: 0px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .p-button.p-button-text {
            color: #ADB5BD;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        }
    }

    @media screen and (min-width: 992px) {
        &.layout-static.layout-static-inactive {
            .layout-sidebar {
                left: 130px;
                width: 130px;
                padding: 35px 0.5rem 12px;
                overflow: visible;

                .layout-menu {
                    ul {
                        a {
                            flex-direction: column;
                            gap: 4px;

                            .layout-submenu-toggler {
                                margin: auto;
                            }
                        }

                        ul {
                            position: absolute;
                            background-color: #c0ebef;
                            width: 240px;
                            z-index: 1000;
                            left: 129px;
                            margin-top: -60px;
                            border-radius: 0%;

                            li {
                                a {
                                    flex-direction: row;
                                    margin-left: 0px;
                                    border-radius: 0%;
                                }
                            }
                        }
                    }
                }

                .sidebar-logo {
                    justify-content: center;

                    h6 {
                        display: none;
                    }
                }
            }
        }
    }
}
