.customize {
    .layout-topbar {
        border-bottom: 1px solid #DEE2E6;
        box-shadow: none;
        .p-inputtext {
            color: #212529;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            padding-left: 40px;
            &:focus {
                box-shadow: none;
            }
            &::placeholder {
                color: #adb5bd;
            }
        }
        .profile-btn {
            display: flex;
            align-items: center;
            .name {
                text-align: end;
                margin-right: 16px;
                color: #212529;
                h6 {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        .layout-topbar {
            left: 240px;
            width: calc(100% - 240px);
            padding: 23px 43px;
            height: 94px;
        }
    }
}
